.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-size:cover;
  background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExa3Z2MmgxazNwcjdkM251eXpndWRscWI1emxlYTFhejZwdXFiemJoZSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/mwC8ythdUw3q8/giphy.gif");
}
.card{
  background-color: rgba(138, 138, 138, 0.2);
  display: flex;
  justify-content: center;
  box-shadow: 0 1rem 2rem 0 rgba(58, 58, 58, 0.5);
  
  transition: 0.3s;
  width: 20rem;
  border-radius: 1rem;
  padding: 16px;
  margin: auto;
}